:root {
  --homePadding: 30px;
  --homeMargin: 75px;
  --elementMargin: 75px;
}

.font_home {
  font-size: 20px;
}

.word_break {
  word-break: break-all;
}

.word_wrap {
  overflow-wrap: break-word;
}

.hypen {
  hyphens: manual;
}

pre {
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.home,
.works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_content {
  width: 950px;
  /*border: 1px solid #000;*/
  padding-top: calc(var(--homeMargin) * 2.5);
  padding-bottom: calc(var(--homeMargin) * 1.5);
}

.home_top,
.home_update,
.home_schema {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*background-color: #5995fb;*/
  /*border: 1px solid #000;*/
}

.home_top {
  height: 850px;
  width: inherit;
}

.home_update,
.home_schema,
.home_message {
  height: auto;
}
.home_update {
  background-color: #fff;
}

.home_schema {
  background-color: #fff;
}
.home_message {
  height: 750px;
}

.center_text {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #fb5985;*/
}

.htop_text {
  letter-spacing: 2px;
  color: #121111;
  font-size: 30px;
}

.htop_period {
  font-size: 30px;
  margin: 0px;
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 0px;
  position: left;
  color: #a6a59f;
}

.htop_second {
  /*background-color: #c94341;*/
  display: flex;
  justify-content: center;
  height: auto;
}

.htop_first > div > h1 {
  margin-bottom: 0px;
}

.htop_second > h1 {
  margin-top: 0px;
}

.home_content > div > h2 {
  color: #121111;
}

.update_content {
  display: grid;
  grid-template-areas: "left right";
  margin-top: 90px;
  grid-column-gap: 5px;
  height: 450px;
  /*background: #6385ad;*/
}

.right {
  grid-area: "right";
}

.left {
  grid-area: "left";
}

.update_desc {
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.flex_end_hidden {
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden !important;
}

.uc_margin {
  margin-left: 30px;
  margin-right: 10px;
}
/* flip */

.update_top {
  display: grid;
  grid-template-columns: 70% 1fr;
}

.update_bottom {
  display: grid;
  grid-template-columns: 60% 1fr;
}

.update_img {
  width: 100%;
  height: 100%;
  /*background-color: #bab8b9;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.update_img > img {
  display: span;
}

.bottom_margin {
  margin-bottom: 50px;
}

.schema_content_row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.schema_div {
  margin-top: 50px;
  --color1: #eb8bff;
  --color2: #7eeefa;
  position: relative;
  overflow: hidden;
  display: block;
  transform-origin: center;
  z-index: 10;
  overflow: hidden;
  transform: translate3d(0, 0, -1px);
}

.schema_content_col {
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr) 100px;
  grid-template-rows: auto;
  /*background-color: #6d8bbe;*/
  align-items: center;
  justify-content: center;
  height: 100px;
  overflow: hidden;
}
.schema_content_col_svg {
  display: block;
  position: relative;
  pointer-events: none;
  user-select: none;
  height: 100%;
  width: 100%;
}
.schema_content_col_svg svg {
  position: absolute;
  transform: scale(2) translateX(-20px) translateY(60px);
  user-select: none;
  transition: transform 400ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.schema_div:hover .schema_content_col_svg svg {
  transform: scale(2) translateX(20px) translateY(20px);
}

.schema_col_start {
  grid-column-start: 2;
}

.message_form_content {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 15px;
  margin-top: var(--homeMargin);
}

.message_client_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0px;
  height: 150px;
}

.message_client_info > input {
  height: 35px;
  width: 270px;
}

.message_client_action {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 1fr;
  height: 200px;
  width: 350px;
  /*background-color: #575757;*/
}

#textarea {
  height: 150px;
}

.message_button {
  width: 75px;
  height: 35px;
}

.utime {
  display: flex;
  justify-content: flex-end;
}
.visitpage {
  display: flex;
  justify-content: center;
}
.visitpage a {
  text-decoration: none;
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transform: translateX(20px);
}
.visitpage a:hover {
  transform: translateX(0px);
}

/* schema_div color-dodge */
.schema_div:before {
  content: "";
  opacity: 1;
  mix-blend-mode: screen;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #f9f4fa;
  background-repeat: no-repeat;
}
.schema_div:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  /* animation: holoGradient 15s ease infinite both; */

  mix-blend-mode: color-dodge;
  opacity: 0.8;
  filter: brightness(0.75) contrast(1.5);
}
.schema_div.active:before {
  opacity: 1;
  animation: none;
  transition: none;
  background-image: linear-gradient(
    115deg,
    transparent 15%,
    var(--color1) 46%,
    var(--color2) 54%,
    transparent 85%
  );
  opacity: 0.8;
  filter: brightness(0.75) contrast(1.5);
}
