@import "home.css";
@import "works.css";
@import "projects.css";
@import "blogs.css";
@import "form.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(17, 16, 16);
}

body::-webkit-scrollbar-thumb {
  background: rgb(81, 44, 89);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font_staatliches {
  font-family: "Staatliches", cursive;
}

.font_vidaloka {
  font-family: "Vidaloka", serif;
}

.font_saira {
  font-family: "Saira Semi Condensed", sans-serif;
}

.font_waterfall {
  font-family: "Waterfall", cursive;
}

.font_inter {
  font-family: "Inter", sans-serif;
}

.font_title {
  font-size: 35px;
  margin-bottom: 0px;
}

.font_subtitle {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  margin-top: 0px;
}

.font_small {
  font-size: 13px;
  color: #494949;
  font-weight: 400;
}

.content_title {
  font-size: 25px;
  font-weight: 600;
}
.content_summary {
  font-size: 20px;
}
#headerpage {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

#cheaderxl {
  list-style: none;
  display: grid;
  grid-template-columns: 30% repeat(4, 1fr) 30%;
  grid-column-start: 2;
  position: relative;
  margin-left: 0;
}

#cheaderxl > li {
  /*float: left;*/
  display: inline-block;
  z-index: 0;
}

#cheaderxl > .li_home {
  grid-column-start: 2;
}

.anima_under_link {
  width: 100px;
  height: 50px;
}

.anima_under_link > p {
  width: auto;
  display: inline-block;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
}

.anima_under_link > p:after {
  content: "";
  background: rgb(7, 7, 8);
  height: 1px;
  width: 0;
  position: absolute;

  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.anima_under_link > p:after {
  bottom: 0px;
  right: 0;
  left: auto;
}
.anima_under_link:hover > p:after {
  width: 100%;
  left: 0;
  right: auto;
}

#cheaderxl .header_namae {
  position: absolute;
  font-size: 35px;
  margin-top: -35px;
  margin-left: 35px;
}

/* #cheaderxl a:-webkit-any-link { */
#cheaderxl a {
  text-decoration: none;
  position: relative;
}

#cheaderxs {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-row-start: 2;
  transition: all 0.5 ease-in-out;
  position: absolute;
  width: 100vw;
  height: auto;
  background-color: white;
  margin-top: 0px;
  margin-left: -40px;
  align-items: center;
  justify-items: center;
}

#cheaderxs > li {
  /*float: left;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75px;
  background-color: #333842;
  margin: 0px;
}

.spacetop {
  margin-top: 30px;
}

/* #cheaderxs a:-webkit-any-link { */
#cheaderxs a {
  color: white;
  display: flex;
  background-color: rgb(211, 244, 119);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
/* #cheaderxs a:-webkit-any-link:hover { */
#cheaderxs a:hover {
  color: white;
  background-color: rgb(119, 176, 244);
}

.menubtn {
  width: 20px;
  height: 30px;
  /*background-color: white;*/
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  z-index: 101;
  user-select: none;
  /* -webkit-user-select: none;
  /* Safari */
  /*-ms-user-select: none; */
  position: relative;
  transition: all 0.5 ease-in-out;
  /*border: 1px solid gray;*/
}

.menuburger {
  width: 20px;
  height: 4px;
  background: #080707;
  border-radius: 5px;
  box-shadow: 0 2px 5px #febfa4;
  transition: all 0.2s ease-in-out;
}

.menuburger::before,
.menuburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #080707;
  border-radius: 5px;
  box-shadow: 0 2px 5px #febfa4;
  transition: all 0.2s ease-in-out;
}

.menuburger::before {
  transform: translateY(-13px);
}

.menuburger::after {
  transform: translateY(13px);
}

.menubtn.open .menuburger {
  background: transparent;
  box-shadow: none;
  transform: translateX(-50px);
  background-color: #333842;
}

.menubtn.open .menuburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menubtn.open .menuburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
